*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: fantasy;
}

body{
  height:100vh;
  background: linear-gradient(#91c8c8,#4445bf);
}



.container{
  background-color: white;
  max-width: 34em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em;
  border-radius: 0.5em;
  box-shadow: 0 1.2em 2.8em rgba(0, 41, 22, 0.2);
}

.wrapper{
  display: flex;
  justify-content: space-between;
  gap: 3em;
}

label{
  font-size: 1.2em;
  font-weight: 600;
  color: #242e4c;
}

input{
  display: block;
  width:  100%;
  font-size: 2em;
  border: none;
  color: #4445bf;
  border-bottom: 1.5px solid #242e4c;
  padding: 0.25em;
  margin-top: 0.45em;
  outline: none;
}

input:focus{
  border-color: f5a623;
}

button#generate{
  display: block;
  width:100%;
  font-weight: 5em;
  font-size: 20px;
  margin: 2.7em 0 1.1em 0;
  background-color: #4445bf;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  color: #ffffff;
}

#result {
  text-align: center;
  font-size: 3.7em;
  font-weight: 600;
  color: #242e4c;
}